.container-toolbar {
  margin: 3rem 6rem;
}

.links-toolbar {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  gap: 3rem;
}

.link-toolbar {
  text-decoration: none;
  color: black;
}

.link-toolbar:hover {
  color: tomato;
}

button {
  border: none;
  font-size: 16px;
}
